<ion-view title="">

	<ion-nav-buttons></ion-nav-buttons>

	<ion-content id="home" class="has-header">

		<div class="home-menu">
				<div class="row">
					<div class="col">
						<div class="home-menu-button col" ui-sref="game-easy">
				    	<div class="home-menu-tiles col button" ng-class="'button-'+settings.theme">
				    		<img src="img/lv-easy.png" alt="">
					    	<h3>Easy<br>2x3</h3>
				    	</div>
				    </div>
				  </div>
			  </div>
				<div class="row">
					<div class="col">
						 <div class="home-menu-button col" ui-sref="game-difficult">
				    	<div class="home-menu-tiles col button" ng-class="'button-'+settings.theme">
				    		<img src="img/lv-medium.png" alt="">
					    	<h3>Medium<br>3x6</h3>
				    	</div>
				    </div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="home-menu-button col" ui-sref="game-hard">
				    	<div class="home-menu-tiles col button" ng-class="'button-'+settings.theme">
				    		<img src="img/lv-hard.png" alt="">
					    	<h3>Hard<br>4x6</h3>
				    	</div>
				    </div>
					</div>
				</div>
		    
		   

		    
		</div>

	</ion-content>

</ion-view>
